/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Roboto");
@import "./variables.global.scss";
@import "./mixins.global.scss";

html {
  background-color: $default-background-color;
  padding: 0;
  border: 0;
  font-size: $default-font-size;
  height: 100%;
  width: 100%;

  body {
    color: $default-font-color;
    font-family: $monospaced-font-family;
  }

  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  li {
    font-size: 2rem;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
  }

  #category {
    font-weight: 500;
  }

  #title {
    letter-spacing: 0.4px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.13636;
  }

  #banner {
    margin: 20px;
    height: 800px;
  }

  #editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
  }

  img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
}
