/* Global Variables */
$default-background-color: #232329;
$default-font-color: white;
$default-font-family: "Roboto", sans-serif;
$default-font-size: 16px;
$monospaced-font-family: "Fira Mono", monospace;